html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family:Poppins-Regular;
  font-weight: normal;
  color: #030E1A;
  background: #2B313B;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

  * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-weight: normal;
}
@media (min-width: 1280px){
.MuiContainer-maxWidthLg {
    width: 95% !important;
}
}

